In [9]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
import matplotlib.pyplot as plt
import html
import string
%matplotlib inline

In [10]:
df = pd.read_csv('eng_score_new.csv')
df.describe()

                 id      eng_score
count  2.121010e+05  212101.000000
mean   1.542861e+14       0.744315
std    6.686827e+13       0.242644
min    2.000000e+00       0.000000
25%    8.288693e+13       0.676411
50%    2.015430e+14       0.826481
75%    2.104866e+14       0.911264
max    2.115940e+14       0.999874

In [11]:
df = df[df['eng_score'] >= 0.90]
df.head()

,id,sentence,eng_score
3,60405483339961,Lost and/or Found Form . Submit. Full Name. To...,0.910910
5,73095534284158,Submit. Name. Birth Date. Address. Cell Phone ...,0.903673
7,81541209182856,Application for Mobile Skips Franchise. Email....,0.934323
16,201187727633054,Name. How are you feeling this morning?. Have ...,0.986994
17,201347378944160,Submit. General Consent to Dental Treatment Du...,0.954212

In [12]:
df.describe()

                 id     eng_score
count  6.191100e+04  61911.000000
mean   1.620374e+14      0.937140
std    6.322364e+13      0.021926
min    2.000000e+00      0.900001
25%    9.101660e+13      0.919101
50%    2.018945e+14      0.936288
75%    2.106085e+14      0.953522
max    2.115931e+14      0.999874

In [13]:
df.iloc[27,:].sentence

'Your good name?. Where you get your emails?. Smile Please!! . 1. How many main literary periods and movements were discussed by the group reporter?. 2. This was a period in the History of Europe which bridged Middle Ages and Modern History.. 3. Meaning of Renaissance?. 5. This was also known as age of reason.. 4. Renaissance is considered as age of what?. NOW, PLEASE ANSWER THESE QUESTIONS.. Page Break. In your opinion and OWN perspective, How important to study the Literary Periods and Movements?. What is your favorite Literary Period/Movement? Explain why?. Page Break. Write your Insights and Learning about Classical Perios.. Page Break. Please rate our Report Discussion. . Please rate our PPT Presentation.. Check to get free points.. Thank You ah. God Bless. Ano reply mo?. Submit'

In [14]:
punc_str = '[]^_`{|}~'
trans_table = str.maketrans('', '', punc_str)
punc_regex = re.compile('([.?,/#!$%^&*;:{}=_`~()-])[.,?/#!$%^&*;:{}=_`~()-]+')
def clean_text(x):
    global trans_table, punc_regex
    x = x.translate(trans_table)
    x = re.sub(punc_regex, '', x)
    x = ' '.join(x.split())
    return x

In [15]:
df['sentence'] = df['sentence'].apply(clean_text)
df.iloc[27,:].sentence

'Your good name Where you get your emails Smile Please . 1. How many main literary periods and movements were discussed by the group reporter 2. This was a period in the History of Europe which bridged Middle Ages and Modern History 3. Meaning of Renaissance 5. This was also known as age of reason 4. Renaissance is considered as age of what NOW, PLEASE ANSWER THESE QUESTIONS Page Break. In your opinion and OWN perspective, How important to study the Literary Periods and Movements What is your favorite Literary Period/Movement? Explain why Page Break. Write your Insights and Learning about Classical Perios Page Break. Please rate our Report Discussion. . Please rate our PPT Presentation Check to get free points Thank You ah. God Bless. Ano reply mo Submit'

In [16]:
df.to_csv('clean_text.csv', encoding='utf-8', index=False)